<center><h1>第四章 分组</h1></center>

In [1]:
import numpy as np
import pandas as pd

## 一、分组模式及其对象
### 1. 分组的一般模式
分组操作在日常生活中使用极其广泛，例如：

* 依据$\color{#FF0000}{性别}$分组，统计全国人口$\color{#00FF00}{寿命}$的$\color{#0000FF}{平均值}$
* 依据$\color{#FF0000}{季节}$分组，对每一个季节的$\color{#00FF00}{温度}$进行$\color{#0000FF}{组内标准化}$
* 依据$\color{#FF0000}{班级}$筛选出组内$\color{#00FF00}{数学分数}$的$\color{#0000FF}{平均值超过80分的班级}$

从上述的几个例子中不难看出，想要实现分组操作，必须明确三个要素：$\color{#FF0000}{分组依据}$、$\color{#00FF00}{数据来源}$、$\color{#0000FF}{操作及其返回结果}$。同时从充分性的角度来说，如果明确了这三方面，就能确定一个分组操作，从而分组代码的一般模式即：
```
df.groupby(分组依据)[数据来源].使用操作
```
例如第一个例子中的代码就应该如下：
```
df.groupby('Gender')['Longevity'].mean()
```

现在返回到学生体测的数据集上，如果想要按照性别统计身高中位数，就可以如下写出：

In [3]:
df = pd.read_csv('data/learn_pandas.csv')
df.groupby('Gender')['Height'].median()

Gender
Female    159.6
Male      173.4
Name: Height, dtype: float64

### 2. 分组依据的本质
前面提到的若干例子都是以单一维度进行分组的，比如根据性别，如果现在需要根据多个维度进行分组，该如何做？事实上，只需在`groupby`中传入相应列名构成的列表即可。例如，现想根据学校和性别进行分组，统计身高的均值就可以如下写出：

In [4]:
df.groupby(['School', 'Gender'])['Height'].mean()

School                         Gender
Fudan University               Female    158.776923
                               Male      174.212500
Peking University              Female    158.666667
                               Male      172.030000
Shanghai Jiao Tong University  Female    159.122500
                               Male      176.760000
Tsinghua University            Female    159.753333
                               Male      171.638889
Name: Height, dtype: float64

目前为止，`groupby`的分组依据都是直接可以从列中按照名字获取的，那如果想要通过一定的复杂逻辑来分组，例如根据学生体重是否超过总体均值来分组，同样还是计算身高的均值。

首先应该先写出分组条件：

In [7]:
condition = df.Weight > df.Weight.mean()
# 然后将其传入 groupby 中
df.groupby(condition)['Height'].mean()

Weight
False    159.034646
True     172.705357
Name: Height, dtype: float64

In [8]:
df.Weight.mean()

55.01587301587302

#### 【练一练】
请根据上下四分位数分割，将体重分为high、normal、low三组，统计身高的均值。

In [11]:
# 参考 https://blog.csdn.net/qq_34903176/article/details/111595612
w = df.Weight
condition = w.mask(w > w.quantile(0.75),'high').mask(w < w.quantile(0.25), 'low').mask((w <= w.quantile(0.75)) & (w >= w.quantile(0.25)),'normal')
condition.head()

0    normal
1      high
2      high
3       low
4      high
Name: Weight, dtype: object

In [12]:
df.groupby(condition).Height.mean()

Weight
high      174.935714
low       153.753659
normal    161.883516
Name: Height, dtype: float64

#### 【END】
从索引可以看出，其实最后产生的结果就是按照条件列表中元素的值（此处是`True`和`False`）来分组，下面用随机传入字母序列来验证这一想法：

In [16]:
item = np.random.choice(list('abc'), df.shape[0])
df.groupby(item)['Height'].mean()

a    165.076271
b    161.579310
c    162.996970
Name: Height, dtype: float64

此处的索引就是原先item中的元素，如果传入多个序列进入`groupby`，那么最后分组的依据就是这两个序列对应行的唯一组合：

In [18]:
df.groupby([condition, item])['Height'].mean() # 我这里做练习题把condition覆盖了

Weight
high    a    175.100000
        b    175.155556
        c    174.637500
low     a    154.775000
        b    153.088889
        c    154.006667
normal  a    162.315625
        b    162.378571
        c    160.990323
Name: Height, dtype: float64

由此可以看出，之前传入列名只是一种简便的记号，事实上等价于传入的是一个或多个列，最后分组的依据来自于数据来源组合的unique值，通过`drop_duplicates`就能知道具体的组类别：

In [19]:
df[['School', 'Gender']].drop_duplicates()

                           School  Gender
0   Shanghai Jiao Tong University  Female
1               Peking University    Male
2   Shanghai Jiao Tong University    Male
3                Fudan University  Female
4                Fudan University    Male
5             Tsinghua University  Female
9               Peking University  Female
16            Tsinghua University    Male

In [20]:
df.groupby([df['School'], df['Gender']])['Height'].mean()

School                         Gender
Fudan University               Female    158.776923
                               Male      174.212500
Peking University              Female    158.666667
                               Male      172.030000
Shanghai Jiao Tong University  Female    159.122500
                               Male      176.760000
Tsinghua University            Female    159.753333
                               Male      171.638889
Name: Height, dtype: float64

### 3. Groupby对象
能够注意到，最终具体做分组操作时，所调用的方法都来自于`pandas`中的`groupby`对象，这个对象上定义了许多方法，也具有一些方便的属性。

In [21]:
gb = df.groupby(['School', 'Grade'])
gb

In [22]:
# 通过ngroups属性，可以访问分为了多少组
gb.ngroups

16

通过`groups`属性，可以返回从$\color{#FF0000}{组名}$映射到$\color{#FF0000}{组索引列表}$的字典：

In [23]:
res = gb.groups
res.keys()

dict_keys([('Fudan University', 'Freshman'), ('Fudan University', 'Junior'), ('Fudan University', 'Senior'), ('Fudan University', 'Sophomore'), ('Peking University', 'Freshman'), ('Peking University', 'Junior'), ('Peking University', 'Senior'), ('Peking University', 'Sophomore'), ('Shanghai Jiao Tong University', 'Freshman'), ('Shanghai Jiao Tong University', 'Junior'), ('Shanghai Jiao Tong University', 'Senior'), ('Shanghai Jiao Tong University', 'Sophomore'), ('Tsinghua University', 'Freshman'), ('Tsinghua University', 'Junior'), ('Tsinghua University', 'Senior'), ('Tsinghua University', 'Sophomore')])

In [25]:
res.values()

dict_values([Int64Index([15, 28, 63, 70, 73, 105, 108, 157, 186], dtype='int64'), Int64Index([26, 41, 82, 84, 90, 107, 145, 152, 173, 187, 189, 195], dtype='int64'), Int64Index([39, 46, 49, 52, 66, 77, 112, 129, 131, 138, 144], dtype='int64'), Int64Index([3, 4, 37, 48, 68, 98, 135, 170], dtype='int64'), Int64Index([1, 32, 35, 36, 38, 45, 54, 57, 88, 96, 99, 140, 185], dtype='int64'), Int64Index([9, 20, 59, 72, 75, 102, 159, 183], dtype='int64'), Int64Index([30, 86, 116, 127, 130, 132, 147, 194], dtype='int64'), Int64Index([29, 61, 83, 101, 120], dtype='int64'), Int64Index([0, 6, 10, 60, 114, 117, 119, 121, 141, 148, 149, 153, 184], dtype='int64'), Int64Index([31, 42, 50, 56, 58, 64, 85, 93, 115, 122, 143, 155, 164, 172, 174,
            188, 190],
           dtype='int64'), Int64Index([  2,  12,  19,  21,  22,  23,  79,  87,  89, 103, 104, 109, 123,
            134, 156, 161, 165, 166, 171, 192, 197, 198],
           dtype='int64'), Int64Index([13, 65, 71, 124, 167], dtype='int64'), Int64Index([5, 8, 33, 34, 43, 44, 47, 51, 62, 67, 81, 111, 125, 133, 136, 142,
            146],
           dtype='int64'), Int64Index([  7,  11,  16,  17,  27,  69,  94,  95, 113, 118, 128, 137, 150,
            154, 158, 160, 162, 163, 169, 176, 177, 191],
           dtype='int64'), Int64Index([14, 18, 24, 25, 78, 92, 100, 126, 168, 175, 179, 180, 193, 196], dtype='int64'), Int64Index([40, 53, 55, 74, 76, 80, 91, 97, 106, 110, 139, 151, 178, 181, 182,
            199],
           dtype='int64')])

#### 【练一练】
上一小节介绍了可以通过`drop_duplicates`得到具体的组类别，现请用`groups`属性完成类似的功能。

In [26]:
df.groupby(['School', 'Gender']).groups.keys()

dict_keys([('Fudan University', 'Female'), ('Fudan University', 'Male'), ('Peking University', 'Female'), ('Peking University', 'Male'), ('Shanghai Jiao Tong University', 'Female'), ('Shanghai Jiao Tong University', 'Male'), ('Tsinghua University', 'Female'), ('Tsinghua University', 'Male')])

#### 【END】
当`size`作为`DataFrame`的属性时，返回的是表长乘以表宽的大小，但在`groupby`对象上表示统计每个组的元素个数：

In [27]:
gb.size()

School                         Grade
Fudan University               Freshman      9
                               Junior       12
                               Senior       11
                               Sophomore     8
Peking University              Freshman     13
                               Junior        8
                               Senior        8
                               Sophomore     5
Shanghai Jiao Tong University  Freshman     13
                               Junior       17
                               Senior       22
                               Sophomore     5
Tsinghua University            Freshman     17
                               Junior       22
                               Senior       14
                               Sophomore    16
dtype: int64

通过`get_group`方法可以直接获取所在组对应的行，此时必须知道组的具体名字：

In [28]:
gb.get_group(('Fudan University', 'Freshman'))

,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
15,Changqiang Yang,Female,156.0,49.0,N,3,2020/1/1,0:05:25
28,Gaoqiang Qin,Female,170.2,63.0,N,2,2020/1/7,0:05:24
63,Gaofeng Zhao,Female,152.2,43.0,N,2,2019/10/31,0:04:00
70,Yanquan Wang,Female,163.5,55.0,N,1,2019/11/19,0:04:07
73,Feng Wang,Male,176.3,74.0,N,1,2019/9/26,0:03:31
105,Qiang Shi,Female,164.5,52.0,N,1,2019/12/11,0:04:23
108,Yanqiang Xu,Female,152.4,38.0,N,1,2019/12/8,0:05:03
157,Xiaoli Lv,Female,152.5,45.0,N,2,2019/9/11,0:04:17
186,Yanjuan Zhao,Female,NaN,53.0,N,2,2019/10/9,0:04:21

这里列出了2个属性和2个方法，而先前的`mean`、`median`都是`groupby`对象上的方法，这些函数和许多其他函数的操作具有高度相似性，将在之后的小节进行专门介绍。
### 4. 分组的三大操作
熟悉了一些分组的基本知识后，重新回到开头举的三个例子，可能会发现一些端倪，即这三种类型的分组返回数据的结果型态并不一样：

* 第一个例子中，每一个组返回一个标量值，可以是平均值、中位数、组容量`size`等
* 第二个例子中，做了原序列的标准化处理，也就是说每组返回的是一个`Series`类型
* 第三个例子中，既不是标量也不是序列，返回的整个组所在行的本身，即返回了`DataFrame`类型

由此，引申出分组的三大操作：聚合、变换和过滤，分别对应了三个例子的操作，下面就要分别介绍相应的`agg`、`transform`和`filter`函数及其操作。
## 二、聚合函数
### 1. 内置聚合函数
在介绍agg之前，首先要了解一些直接定义在groupby对象的聚合函数，因为它的速度基本都会经过内部的优化，使用功能时应当优先考虑。根据返回标量值的原则，包括如下函数：`max/min/mean/median/count/all/any/idxmax/idxmin/mad/nunique/skew/quantile/sum/std/var/sem/size/prod`。

In [29]:
gb = df.groupby('Gender')['Height']
gb.idxmin()

Gender
Female    143
Male      199
Name: Height, dtype: int64

In [30]:
gb.quantile(0.95)

Gender
Female    166.8
Male      185.9
Name: Height, dtype: float64

#### 【练一练】
请查阅文档，明确`all/any/mad/skew/sem/prod`函数的含义。

In [31]:
# 翻译文档 https://www.jianshu.com/p/b8e5a2fcc3d2?utm_campaign=maleskine&utm_content=note&utm_medium=seo_notes&utm_source=recommendation
# all和any用于查找bool值
# mad是平均绝对离差
# skew是偏度，krut是峰度，sem是样本标准误
# prod是连乘，在本例子中没有具体含义

#### 【END】
这些聚合函数当传入的数据来源包含多个列时，将按照列进行迭代计算：

In [32]:
gb = df.groupby('Gender')[['Height', 'Weight']]
gb.max()

        Height  Weight
Gender
Female   170.2    63.0
Male     193.9    89.0

### 2. agg方法
虽然在`groupby`对象上定义了许多方便的函数，但仍然有以下不便之处：

* 无法同时使用多个函数
* 无法对特定的列使用特定的聚合函数
* 无法使用自定义的聚合函数
* 无法直接对结果的列名在聚合前进行自定义命名

下面说明如何通过`agg`函数解决这四类问题：

【a】使用多个函数

当使用多个聚合函数时，需要用列表的形式把内置聚合函数的对应的字符串传入，先前提到的所有字符串都是合法的。

In [34]:
gb.agg(['sum', 'idxmax', 'skew'])

         Height                   Weight
            sum idxmax      skew     sum idxmax      skew
Gender
Female  21014.0     28 -0.219253  6469.0     28 -0.268482
Male     8854.9    193  0.437535  3929.0      2 -0.332393

从结果看，此时的列索引为多级索引，第一层为数据源，第二层为使用的聚合方法，分别逐一对列使用聚合，因此结果为6列。

【b】对特定的列使用特定的聚合函数

对于方法和列的特殊对应，可以通过构造字典传入`agg`中实现，其中字典以列名为键，以聚合字符串或字符串列表为值。

In [35]:
gb.agg({'Height':['mean','max'], 'Weight':'count'})

           Height        Weight
             mean    max  count
Gender
Female  159.19697  170.2    135
Male    173.62549  193.9     54

#### 【练一练】
请使用【b】中的传入字典的方法完成【a】中等价的聚合任务。

In [37]:
gb.agg({'Height':['sum', 'idxmax', 'skew'], 'Weight':['sum', 'idxmax', 'skew']})

         Height                   Weight
            sum idxmax      skew     sum idxmax      skew
Gender
Female  21014.0     28 -0.219253  6469.0     28 -0.268482
Male     8854.9    193  0.437535  3929.0      2 -0.332393

#### 【END】
【c】使用自定义函数

在`agg`中可以使用具体的自定义函数，$\color{#FF0000}{需要注意传入函数的参数是之前数据源中的列，逐列进行计算}$。下面分组计算身高和体重的极差：

In [38]:
gb.agg(lambda x: x.mean()-x.min())

          Height     Weight
Gender
Female  13.79697  13.918519
Male    17.92549  21.759259

#### 【练一练】
在`groupby`对象中可以使用`describe`方法进行统计信息汇总，请同时使用多个聚合函数，完成与该方法相同的功能。

In [40]:
gb.describe()

       Height                                                              \
        count       mean       std    min      25%    50%      75%    max
Gender
Female  132.0  159.19697  5.053982  145.4  155.675  159.6  162.825  170.2
Male     51.0  173.62549  7.048485  155.7  168.900  173.4  177.150  193.9

       Weight
        count       mean       std   min   25%   50%    75%   max
Gender
Female  135.0  47.918519  5.405983  34.0  44.0  48.0  52.00  63.0
Male     54.0  72.759259  7.772557  51.0  69.0  73.0  78.75  89.0

In [41]:
gb.agg(['count','mean','std','min',('25%',lambda x:x.quantile(0.25)),('50%','quantile'),('75%',lambda x:x.quantile(0.75)),'max'])

       Height                                                              \
        count       mean       std    min      25%    50%      75%    max
Gender
Female    132  159.19697  5.053982  145.4  155.675  159.6  162.825  170.2
Male       51  173.62549  7.048485  155.7  168.900  173.4  177.150  193.9

       Weight
        count       mean       std   min   25%   50%    75%   max
Gender
Female    135  47.918519  5.405983  34.0  44.0  48.0  52.00  63.0
Male       54  72.759259  7.772557  51.0  69.0  73.0  78.75  89.0

#### 【END】
由于传入的是序列，因此序列上的方法和属性都是可以在函数中使用的，只需保证返回值是标量即可。下面的例子是指，如果组的指标均值，超过该指标的总体均值，返回High，否则返回Low。

In [42]:
def my_func(s):
    res = 'High'
    if s.mean() <= df[s.name].mean():
        res = 'Low'
    return res
gb.agg(my_func)

       Height Weight
Gender
Female    Low    Low
Male     High   High

【d】聚合结果重命名

如果想要对结果进行重命名，只需要将上述函数的位置改写成元组，元组的第一个元素为新的名字，第二个位置为原来的函数，包括聚合字符串和自定义函数，现举若干例子说明：

In [43]:
gb.agg([('range', lambda x: x.max()-x.min()), ('my_sum', 'sum')])

       Height          Weight
        range   my_sum  range  my_sum
Gender
Female   24.8  21014.0   29.0  6469.0
Male     38.2   8854.9   38.0  3929.0

In [44]:
gb.agg({'Height': [('my_func', my_func), 'sum'], 'Weight': lambda x:x.max()})

        Height            Weight
       my_func      sum <lambda>
Gender
Female     Low  21014.0     63.0
Male      High   8854.9     89.0

In [45]:
gb.agg({'Height': [('my_func', my_func), 'sum'], 'Weight': 'max'})

        Height          Weight
       my_func      sum    max
Gender
Female     Low  21014.0   63.0
Male      High   8854.9   89.0

另外需要注意，使用对一个或者多个列使用单个聚合的时候，重命名需要加方括号，否则就不知道是新的名字还是手误输错的内置函数字符串：

In [46]:
gb.agg([('my_sum', 'sum')])

         Height  Weight
         my_sum  my_sum
Gender
Female  21014.0  6469.0
Male     8854.9  3929.0

In [47]:
gb.agg({'Height': [('my_func', my_func), 'sum'], 'Weight': [('range', lambda x:x.max())]})

        Height          Weight
       my_func      sum  range
Gender
Female     Low  21014.0   63.0
Male      High   8854.9   89.0

## 三、变换和过滤
### 1. 变换函数与transform方法
变换函数的返回值为同长度的序列，最常用的内置变换函数是累计函数：`cumcount/cumsum/cumprod/cummax/cummin`，它们的使用方式和聚合函数类似，只不过完成的是组内累计操作。此外在`groupby`对象上还定义了填充类和滑窗类的变换函数，这些函数的一般形式将会分别在第七章和第十章中讨论，此处略过。

In [48]:
gb.cummax().head()

   Height  Weight
0   158.9    46.0
1   166.5    70.0
2   188.9    89.0
3     NaN    46.0
4   188.9    89.0

#### 【练一练】
在`groupby`对象中，`rank`方法也是一个实用的变换函数，请查阅它的功能并给出一个使用的例子。

In [55]:
df.groupby('Weight').rank().head()
# 暂时没看出有啥区别

   Height  Test_Number
0     5.0          2.0
1     1.0          2.0
2     1.0          1.0
3     NaN          2.5
4     2.0          4.0

#### 【END】
当用自定义变换时需要使用`transform`方法，被调用的自定义函数，$\color{#FF0000}{其传入值为数据源的序列}$，与`agg`的传入类型是一致的，其最后的返回结果是行列索引与数据源一致的`DataFrame`。

In [57]:
# 现对身高和体重进行分组标准化，即减去组均值后除以组的标准差：
gb.transform(lambda x: (x - x.mean())/ x.std()).head()

     Height    Weight
0 -0.058760 -0.354888
1 -1.010925 -0.355000
2  2.167063  2.089498
3       NaN -1.279789
4  0.053133  0.159631

#### 【练一练】
对于`transform`方法无法像`agg`一样，通过传入字典来对指定列使用特定的变换，如果需要在一次`transform`的调用中实现这种功能，请给出解决方案。

In [58]:
# 我猜想可以通过判断语句实现

### 2. 组索引与过滤

在上一章中介绍了索引的用法，那么索引和过滤有什么区别呢？

过滤在分组中是对于组的过滤，而索引是对于行的过滤，在第二章中的返回值，无论是布尔列表还是元素列表或者位置列表，本质上都是对于行的筛选，即如果筛选条件的则选入结果的表，否则不选入。

组过滤作为行过滤的推广，指的是如果对一个组的全体所在行进行统计的结果返回`True`则会被保留，`False`则该组会被过滤，最后把所有未被过滤的组其对应的所在行拼接起来作为`DataFrame`返回。

在`groupby`对象中，定义了`filter`方法进行组的筛选，其中自定义函数的输入参数为数据源构成的`DataFrame`本身，在之前例子中定义的`groupby`对象中，传入的就是`df[['Height', 'Weight']]`，因此所有表方法和属性都可以在自定义函数中相应地使用，同时只需保证自定义函数的返回为布尔值即可。

例如，在原表中通过过滤得到所有容量大于100的组：

In [59]:
gb.filter(lambda x: x.shape[0] > 100).head()

   Height  Weight
0   158.9    46.0
3     NaN    41.0
5   158.0    51.0
6   162.5    52.0
7   161.9    50.0

#### 【练一练】
从概念上说，索引功能是组过滤功能的子集，请使用`filter`函数完成`loc[...]`的功能，这里假设"`...`"是元素列表。

In [60]:
# 假设筛选1，3，10，4这四行
df.groupby(df.index.isin([1,3,10,4])).filter(lambda x:x.name)

,School,Grade,Name,Gender,Height,Weight,Transfer,Test_Number,Test_Date,Time_Record
1,Peking University,Freshman,Changqiang You,Male,166.5,70.0,N,1,2019/9/4,0:04:20
3,Fudan University,Sophomore,Xiaojuan Sun,Female,NaN,41.0,N,2,2020/1/3,0:04:08
4,Fudan University,Sophomore,Gaojuan You,Male,174.0,74.0,N,2,2019/11/6,0:05:22
10,Shanghai Jiao Tong University,Freshman,Xiaopeng Zhou,Male,174.1,74.0,N,1,2019/9/29,0:05:16

## 四、跨列分组
### 1. apply的引入
之前几节介绍了三大分组操作，但事实上还有一种常见的分组场景，无法用前面介绍的任何一种方法处理，例如现在如下定义身体质量指数BMI：
$${\rm BMI} = {\rm\frac{Weight}{Height^2}}$$
其中体重和身高的单位分别为千克和米，需要分组计算组BMI的均值。

首先，这显然不是过滤操作，因此`filter`不符合要求；其次，返回的均值是标量而不是序列，因此`transform`不符合要求；最后，似乎使用`agg`函数能够处理，但是之前强调过聚合函数是逐列处理的，而不能够$\color{#FF0000}{多列数据同时处理}$。由此，引出了`apply`函数来解决这一问题。

### 2. apply的使用
在设计上，`apply`的自定义函数传入参数与`filter`完全一致，只不过后者只允许返回布尔值。现如下解决上述计算问题：

In [61]:
def BMI(x):
    Height = x['Height']/100
    Weight = x['Weight']
    BMI_value = Weight/Height**2
    return BMI_value.mean()
gb.apply(BMI)

Gender
Female    18.860930
Male      24.318654
dtype: float64

除了返回标量之外，`apply`方法还可以返回一维`Series`和二维`DataFrame`，但它们产生的数据框维数和多级索引的层数应当如何变化？下面举三组例子就非常容易明白结果是如何生成的：

【a】标量情况：结果得到的是 ``Series`` ，索引与 ``agg`` 的结果一致

In [62]:
gb = df.groupby(['Gender','Test_Number'])[['Height','Weight']]
gb.apply(lambda x: 0)

Gender  Test_Number
Female  1              0
        2              0
        3              0
Male    1              0
        2              0
        3              0
dtype: int64

In [63]:
gb.apply(lambda x: [0, 0]) # 虽然是列表，但是作为返回值仍然看作标量

Gender  Test_Number
Female  1              [0, 0]
        2              [0, 0]
        3              [0, 0]
Male    1              [0, 0]
        2              [0, 0]
        3              [0, 0]
dtype: object

【b】`Series`情况：得到的是`DataFrame`，行索引与标量情况一致，列索引为`Series`的索引

In [64]:
gb.apply(lambda x: pd.Series([0,0],index=['a','b']))

                    a  b
Gender Test_Number
Female 1            0  0
       2            0  0
       3            0  0
Male   1            0  0
       2            0  0
       3            0  0

#### 【练一练】
请尝试在`apply`传入的自定义函数中，根据组的某些特征返回相同长度但索引不同的`Series`，会报错吗？

In [65]:
# 不知道怎么实现

#### 【END】
【c】`DataFrame`情况：得到的是`DataFrame`，行索引最内层在每个组原先`agg`的结果索引上，再加一层返回的`DataFrame`行索引，同时分组结果`DataFrame`的列索引和返回的`DataFrame`列索引一致。

In [66]:
gb.apply(lambda x: pd.DataFrame(np.ones((2,2)), index = ['a','b'], columns=pd.Index([('w','x'),('y','z')])))

                        w    y
                        x    z
Gender Test_Number
Female 1           a  1.0  1.0
                   b  1.0  1.0
       2           a  1.0  1.0
                   b  1.0  1.0
       3           a  1.0  1.0
                   b  1.0  1.0
Male   1           a  1.0  1.0
                   b  1.0  1.0
       2           a  1.0  1.0
                   b  1.0  1.0
       3           a  1.0  1.0
                   b  1.0  1.0

#### 【练一练】
请尝试在`apply`传入的自定义函数中，根据组的某些特征返回相同大小但列索引不同的`DataFrame`，会报错吗？如果只是行索引不同，会报错吗？
#### 【END】
最后需要强调的是，`apply`函数的灵活性是以牺牲一定性能为代价换得的，除非需要使用跨列处理的分组处理，否则应当使用其他专门设计的`groupby`对象方法，否则在性能上会存在较大的差距。同时，在使用聚合函数和变换函数时，也应当优先使用内置函数，它们经过了高度的性能优化，一般而言在速度上都会快于用自定义函数来实现。
#### 【练一练】
在`groupby`对象中还定义了`cov`和`corr`函数，从概念上说也属于跨列的分组处理。请利用之前定义的`gb`对象，使用apply函数实现与`gb.cov()`同样的功能并比较它们的性能。
#### 【END】

In [67]:
# 跨列分组感觉比上一章的多级索引场景多些（目前觉得），不过还是没有理解到位

## 五、练习
### Ex1：汽车数据集
现有一份汽车数据集，其中`Brand, Disp., HP`分别代表汽车品牌、发动机蓄量、发动机输出。

In [68]:
df = pd.read_csv('data/car.csv')
df.head(3)

,Brand,Price,Country,Reliability,Mileage,Type,Weight,Disp.,HP
0,Eagle Summit 4,8895,USA,4.0,33,Small,2560,97,113
1,Ford Escort 4,7402,USA,2.0,33,Small,2345,114,90
2,Ford Festiva 4,6319,Korea,4.0,37,Small,1845,81,63

In [69]:
# 1.1先过滤出所属Country数超过2个的汽车
df1 = df.groupby('Country').filter(lambda x:x.shape[0]>2)
df1.head()

,Brand,Price,Country,Reliability,Mileage,Type,Weight,Disp.,HP
0,Eagle Summit 4,8895,USA,4.0,33,Small,2560,97,113
1,Ford Escort 4,7402,USA,2.0,33,Small,2345,114,90
2,Ford Festiva 4,6319,Korea,4.0,37,Small,1845,81,63
3,Honda Civic 4,6635,Japan/USA,5.0,32,Small,2260,91,92
4,Mazda Protege 4,6599,Japan,5.0,32,Small,2440,113,103

In [72]:
# 1.2 再按Country分组计算价格均值、价格变异系数、该Country的汽车数量
# （变异系数的计算方法是标准差除以均值，并在结果中把变异系数重命名为CoV）
df1.groupby('Country').Price.agg(['mean',('Cov', lambda x:x.std()/x.mean()), 'count'])

                   mean       Cov  count
Country
Japan      13938.052632  0.387429     19
Japan/USA  10067.571429  0.240040      7
Korea       7857.333333  0.243435      3
USA        12543.269231  0.203344     26

In [74]:
# 参考答案（较为简略）
df.groupby('Country').filter(lambda x:x.shape[0]>2).groupby('Country')['Price'].agg([('CoV', lambda x: x.std()/x.mean()), 'mean', 'count'])

                CoV          mean  count
Country
Japan      0.387429  13938.052632     19
Japan/USA  0.240040  10067.571429      7
Korea      0.243435   7857.333333      3
USA        0.203344  12543.269231     26

In [75]:
# 2.按照表中位置的前三分之一、中间三分之一和后三分之一分组，统计Price的均值。
# 不知道怎么取前1/3 的位置，看了参考答案，原来不是由封装的方法，先查看出总共60行
condition = ['Head']*20+['Mid']*20+['Tail']*20
df.groupby(condition)['Price'].mean()

Head     9069.95
Mid     13356.40
Tail    15420.65
Name: Price, dtype: float64

In [76]:
condition

['Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Head',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Mid',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail',
 'Tail']

In [77]:
# 3.对类型Type分组，对Price和HP分别计算最大值和最小值，结果会产生多级索引，请用下划线把多级列索引合并为单层索引。
df_type = df.groupby('Type').agg({'Price':['max'], 'HP':['min']})
df_type.head()

         Price   HP
           max  min
Type
Compact  18900   95
Large    17257  150
Medium   24760  110
Small     9995   63
Sporty   13945   92

In [78]:
# 出来混迟早要还的，多级索引看了答案，又是一个恍然大悟
df_type.columns.map(lambda x:'_'.join(x))

Index(['Price_max', 'HP_min'], dtype='object')

In [79]:
# 4.对类型Type分组，对HP进行组内的min-max归一化。
df.groupby('Type').HP.apply(lambda x:(x-x.min())/(x.max()-x.min())).head()

0    1.00
1    0.54
2    0.00
3    0.58
4    0.80
Name: HP, dtype: float64

In [80]:
# 参考答案 -- transform的性能更加
def normalize(s):
    s_min, s_max = s.min(), s.max()
    res = (s - s_min)/(s_max - s_min)
    return res
df.groupby('Type')['HP'].transform(normalize).head()

0    1.00
1    0.54
2    0.00
3    0.58
4    0.80
Name: HP, dtype: float64

In [84]:
# 5.对类型Type分组，计算Disp.与HP的相关系数。
df.groupby('Type').corr()

                        Price  Reliability   Mileage    Weight     Disp.  \
Type
Compact Price        1.000000     0.188066 -0.075862  0.196213 -0.037356
        Reliability  0.188066     1.000000  0.019210  0.607610 -0.152870
        Mileage     -0.075862     0.019210  1.000000 -0.270799 -0.535483
        Weight       0.196213     0.607610 -0.270799  1.000000  0.581986
        Disp.       -0.037356    -0.152870 -0.535483  0.581986  1.000000
        HP           0.231547     0.586386 -0.467657  0.736025  0.586087
Large   Price        1.000000     0.914448  0.493042 -0.114900 -0.142281
        Reliability  0.914448     1.000000  0.802955 -0.507092 -0.530694
        Mileage      0.493042     0.802955  1.000000 -0.920894 -0.931305
        Weight      -0.114900    -0.507092 -0.920894  1.000000  0.999619
        Disp.       -0.142281    -0.530694 -0.931305  0.999619  1.000000
        HP          -0.925675    -0.693375 -0.127257 -0.269454 -0.242765
Medium  Price        1.000000     0.729948 -0.372972  0.614268  0.213828
        Reliability  0.729948     1.000000 -0.540852  0.151401 -0.239840
        Mileage     -0.372972    -0.540852  1.000000  0.234081  0.315799
        Weight       0.614268     0.151401  0.234081  1.000000  0.845959
        Disp.        0.213828    -0.239840  0.315799  0.845959  1.000000
        HP           0.747346     0.381488  0.140242  0.699264  0.370491
Small   Price        1.000000    -0.057241 -0.780851  0.587465  0.558046
        Reliability -0.057241     1.000000  0.174475 -0.125025 -0.233368
        Mileage     -0.780851     0.174475  1.000000 -0.488458 -0.525139
        Weight       0.587465    -0.125025 -0.488458  1.000000  0.757406
        Disp.        0.558046    -0.233368 -0.525139  0.757406  1.000000
        HP           0.562418     0.256290 -0.287994  0.850065  0.603916
Sporty  Price        1.000000     0.171463 -0.347125  0.165912  0.080739
        Reliability  0.171463     1.000000  0.717505 -0.839126 -0.769586
        Mileage     -0.347125     0.717505  1.000000 -0.931622 -0.871635
        Weight       0.165912    -0.839126 -0.931622  1.000000  0.879521
        Disp.        0.080739    -0.769586 -0.871635  0.879521  1.000000
        HP           0.325200    -0.442482 -0.800290  0.715539  0.871426
Van     Price        1.000000     0.380037  0.273063  0.201269  0.026904
        Reliability  0.380037     1.000000  1.000000  0.500000 -0.536107
        Mileage      0.273063     1.000000  1.000000 -0.355883 -0.642969
        Weight       0.201269     0.500000 -0.355883  1.000000  0.679851
        Disp.        0.026904    -0.536107 -0.642969  0.679851  1.000000
        HP          -0.143437     0.500000 -0.272478  0.416506  0.819881

                           HP
Type
Compact Price        0.231547
        Reliability  0.586386
        Mileage     -0.467657
        Weight       0.736025
        Disp.        0.586087
        HP           1.000000
Large   Price       -0.925675
        Reliability -0.693375
        Mileage     -0.127257
        Weight      -0.269454
        Disp.       -0.242765
        HP           1.000000
Medium  Price        0.747346
        Reliability  0.381488
        Mileage      0.140242
        Weight       0.699264
        Disp.        0.370491
        HP           1.000000
Small   Price        0.562418
        Reliability  0.256290
        Mileage     -0.287994
        Weight       0.850065
        Disp.        0.603916
        HP           1.000000
Sporty  Price        0.325200
        Reliability -0.442482
        Mileage     -0.800290
        Weight       0.715539
        Disp.        0.871426
        HP           1.000000
Van     Price       -0.143437
        Reliability  0.500000
        Mileage     -0.272478
        Weight       0.416506
        Disp.        0.819881
        HP           1.000000

In [85]:
# 从中选一部分？
df.groupby('Type')[['Disp.','HP']].corr()

                  Disp.        HP
Type
Compact Disp.  1.000000  0.586087
        HP     0.586087  1.000000
Large   Disp.  1.000000 -0.242765
        HP    -0.242765  1.000000
Medium  Disp.  1.000000  0.370491
        HP     0.370491  1.000000
Small   Disp.  1.000000  0.603916
        HP     0.603916  1.000000
Sporty  Disp.  1.000000  0.871426
        HP     0.871426  1.000000
Van     Disp.  1.000000  0.819881
        HP     0.819881  1.000000

In [86]:
# 参考答案更为简洁，不是使用内置函数
df.groupby('Type')[['HP', 'Disp.']].apply(lambda x:np.corrcoef(x['HP'].values, x['Disp.'].values)[0,1])

Type
Compact    0.586087
Large     -0.242765
Medium     0.370491
Small      0.603916
Sporty     0.871426
Van        0.819881
dtype: float64

### Ex2：实现transform函数

* `groupby`对象的构造方法是`my_groupby(df, group_cols)`
* 支持单列分组与多列分组
* 支持带有标量广播的`my_groupby(df)[col].transform(my_func)`功能
* `pandas`的`transform`不能跨列计算，请支持此功能，即仍返回`Series`但`col`参数为多列
* 无需考虑性能与异常处理，只需实现上述功能，在给出测试样例的同时与`pandas`中的`transform`对比结果是否一致

In [89]:
# 将参考答案缩写的类贴过来，自己没能独立思考
class my_groupby:
    def __init__(self, my_df, group_cols):
        self.my_df = my_df.copy()
        self.groups = my_df[group_cols].drop_duplicates()
        if isinstance(self.groups, pd.Series):
            self.groups = self.groups.to_frame()
        self.group_cols = self.groups.columns.tolist()
        self.groups = {i: self.groups[i].values.tolist() for i in self.groups.columns}
        self.transform_col = None
    def __getitem__(self, col):
        self.pr_col = [col] if isinstance(col, str) else list(col)
        return self
    def transform(self, my_func):
        self.num = len(self.groups[self.group_cols[0]])
        L_order, L_value = np.array([]), np.array([])
        for i in range(self.num):
            group_df = self.my_df.reset_index().copy()
            for col in self.group_cols:
                group_df = group_df[group_df[col]==self.groups[col][i]]
            group_df = group_df[self.pr_col]
            if group_df.shape[1] == 1:
                group_df = group_df.iloc[:, 0]
            group_res = my_func(group_df)
            if not isinstance(group_res, pd.Series):
                group_res = pd.Series(group_res,index=group_df.index,name=group_df.name)
            L_order = np.r_[L_order, group_res.index]
            L_value = np.r_[L_value, group_res.values]
        self.res = pd.Series(pd.Series(L_value, index=L_order).sort_index().values,index=self.my_df.reset_index().index, name=my_func.__name__)
        return self.res

my_groupby(df, 'Type')